<!-- <button mat-raised-button class="mr-8" (click)="savingTemplate = !savingTemplate">
    <mat-icon matSuffix class="mr-8">send</mat-icon>Show spinner
</button> -->

<mat-spinner class="example-margin" [color]="'primary-50'" *ngIf="savingTemplate" [diameter]="70">
</mat-spinner>

<div id="risk-model-template" class="tabView" style="width:99%;" fxLayout="column" fusePerfectScrollbar>
    <div fxLayout="row" fxLayoutAlign="end center" fxFlex="100">
        <mat-checkbox [(ngModel)]="riskModelTemplate.applyRatingModifiers">Apply Rating Modifiers</mat-checkbox>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <mat-checkbox [(ngModel)]="riskModelTemplate.applyParentalNotchup">Apply Parental Notchup</mat-checkbox>
    </div>
    <mat-tab-group [selectedIndex]="selectedIndex" (selectedIndexChange)="selectedIndexChange($event)">
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="pr-32">notes</mat-icon>
                Project & Risk Rating Results
            </ng-template>

            <mat-card style="margin-bottom: 15px;" class="SubTabs">
                <div fxLayout="row" class="bottomSpace">

                    <mat-form-field fxFlex="25">
                        <input matInput placeholder="Project Name" [(ngModel)]="riskModelTemplate.projectName">
                        <mat-icon matSuffix class="mr-8">edit</mat-icon>
                    </mat-form-field>

                    <mat-form-field fxFlex="25">
                        <input matInput placeholder="Loan Number" [(ngModel)]="riskModelTemplate.loanNumber" readonly>
                    </mat-form-field>

                    <mat-form-field fxFlex="25">
                        <input matInput placeholder="Risk Model Id" [(ngModel)]="riskModelTemplate.id" readonly>
                    </mat-form-field>

                    <mat-form-field fxFlex="25">
                        <input matInput placeholder="Created By" [(ngModel)]="riskModelTemplate.createdBy" readonly>
                    </mat-form-field>
                </div>

                <div fxLayout="row" class="bottomSpace">
                    <mat-form-field fxFlex="25">
                        <input matInput placeholder="Project Type" [(ngModel)]="riskModelTemplate.riskProjectTypeDescription"
                            readonly>
                    </mat-form-field>

                    <mat-form-field fxFlex="25">
                        <input matInput placeholder="Loan Amount in Crores" [(ngModel)]="riskModelTemplate.loanAmountInCrores"
                            readonly>
                    </mat-form-field>

                    <mat-form-field fxFlex="25">
                        <mat-select placeholder="Department" [(ngModel)]="riskModelTemplate.purposeCode" required>
                            <mat-option *ngFor="let purpose of purposes" [value]="purpose.code">
                                {{ purpose.description }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field fxFlex="25">
                        <input matInput placeholder="Reviewed By" [(ngModel)]="riskModelTemplate.reviewedBy" readonly>
                    </mat-form-field>
                </div>

                <div fxLayout="row" class="bottomSpace">
                    <mat-form-field fxFlex="25">
                        <input matInput placeholder="Risk Level Type" [(ngModel)]="riskModelTemplate.projectRiskLevelDescription"
                            readonly>
                    </mat-form-field>

                    <mat-form-field fxFlex="25">
                        <input matInput placeholder="Rating Date" [ngModel]="riskModelTemplate.ratingDate | date: 'dd/MM/yyyy'" (ngModelChange)="riskModelTemplate.ratingDate = $event" readonly>
                    </mat-form-field>

                    <mat-form-field fxFlex="25">
                        <input matInput placeholder="Workflow Status" [(ngModel)]="riskModelTemplate.workflowStatusDescription"
                            readonly>
                    </mat-form-field>
                </div>
            </mat-card>

            <!-- Risk Rating Display Starts Here -->
            <mat-card>
                <!-- Risk Rating Summary Starts Here -->
                <table class="pt-8 pb-16" cellpadding="0" cellspacing="0" width="100%" FxFlex="100">
                    <tr class="accent-100 row-header">
                        <th class="column-header mainHeader" colspan="3" width="100%">Risk Rating</th>
                    </tr>
                    <tr class="accent-50 row-header">
                        <th class="column-header" width="50%">Rating Type</th>
                        <th class="column-header" width="25%">Score</th>
                        <th class="column-header" width="25%">Grade</th>
                    </tr>
                    <tr *ngFor="let riskModelSummary of riskModelTemplate.riskModelSummaries">
                        <td class="column-data tableRow">{{ riskModelSummary.name }}</td>
                        <td class="column-data tableRow">{{ riskModelSummary.score }}</td>
                        <td class="column-data tableRow">{{ riskModelSummary.grade }}</td>
                    </tr>
                </table>
                <!-- Risk & Risk Components Ratings Starts Here -->
                <table class="pt-8 pb-16" cellpadding="0" cellspacing="0" width="100%" FxFlex="100" *ngFor="let riskType of riskModelTemplate.riskTypes">
                    <tr class="accent-100 row-header">
                        <th class="column-header mainHeader" colspan="2" width="100%">{{ riskType.description }}</th>
                    </tr>
                    <tr class="accent-50 row-header">
                        <th class="column-header" width="50%">Risk Component</th>
                        <th class="column-header" width="50%">Score</th>
                    </tr>
                    <tr *ngFor="let riskComponent of riskType.riskComponents">
                        <td class="column-data tableRow">{{ riskComponent.description }}</td>
                        <td class="column-data tableRow">{{ riskComponent.score }}</td>
                    </tr>
                </table>
            </mat-card>
            <!-- Risk Rating Display Ends Here -->
        </mat-tab>

        <mat-tab class="tabTwo">
            <ng-template mat-tab-label>
                <mat-icon class="pr-32">exposure</mat-icon> Evaluation
            </ng-template>

            <mat-card style="margin-bottom: 15px;">
                <!-- Risk Types Starts Here -->
                <mat-tab-group>
                    <mat-tab *ngFor="let riskType of riskModelTemplate.riskTypes">
                        <ng-template mat-tab-label>
                            <mat-icon class="pr-32" *ngIf="checkRiskComponentSelection(riskType)">check_circle</mat-icon>
                            <div>{{ riskType.description }}</div>
                        </ng-template>

                        <!-- Risk Components Starts Here -->
                        <mat-tab-group>
                            <mat-tab *ngFor="let riskComponent of riskType.riskComponents">
                                <ng-template mat-tab-label>
                                    <mat-icon class="pr-32" *ngIf="checkRiskFactorSelection(riskComponent)">check_circle</mat-icon>
                                    <div>{{ riskComponent.description }}</div>
                                </ng-template>

                                <!-- Risk Factors Starts Here -->
                                <mat-tab-group>
                                    <mat-tab *ngFor="let riskFactor of riskComponent.riskFactors">
                                        <ng-template mat-tab-label>
                                            <mat-icon class="pr-32" *ngIf="checkRiskSubFactorSelection(riskFactor)">check_circle</mat-icon>
                                            <div>{{ riskFactor.description }}</div>
                                        </ng-template>

                                        <div class="content" fusePerfectScrollbar style="margin-top:15px;">
                                            <!-- Risk Sub Factors & Attributes Starts Here -->
                                            <mat-card *ngFor="let riskSubFactor of riskFactor.riskSubFactors">
                                                <!--mat-card-header>
                                                    <mat-card-subtitle>
                                                        {{ riskSubFactor.description }}
                                                    </mat-card-subtitle>
                                                </mat-card-header-->
                                                <mat-radio-group class="example-radio-group">
                                                    <table cellpadding="0" cellspacing="0" width="100%" FxFlex="100">
                                                        <tr class="accent-100 row-header">
                                                            <th class="column-header mainHeader" colspan="3"> {{
                                                                riskSubFactor.description }}</th>

                                                        </tr>
                                                        <tr class="accent-100 row-header">
                                                            <th class="column-header" width="10%">Select</th>
                                                            <th class="column-header" width="80%">Parameter
                                                                Selection</th>
                                                            <th class="column-header" width="10%"><span *ngIf="_appService.userDetails.riskDepartment === '02'">Score</span></th>
                                                        </tr>
                                                        <tr *ngFor="let riskSubFactorAttribute of riskSubFactor.riskSubFactorAttributes">
                                                            <td class="column-data tableRow">
                                                                <mat-radio-button class="example-radio-butt>on" [value]="riskSubFactorAttribute.itemNo"
                                                                    [checked]="riskSubFactorAttribute.isSelected"
                                                                    (change)="riskSubFactorSelectionChanged($event, riskSubFactor.riskSubFactorAttributes)">
                                                                </mat-radio-button>
                                                            </td>
                                                            <td class="column-data tableRow">{{
                                                                riskSubFactorAttribute.description
                                                                }}</td>
                                                            <td class="column-data tableRow">
                                                                <span *ngIf="riskSubFactorAttribute.isSelected && _appService.userDetails.riskDepartment === '02'">{{
                                                                    riskSubFactorAttribute.score }}</span>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </mat-radio-group>
                                            </mat-card>
                                        </div>
                                        <!-- Risk Sub Factors & Attributes Ends Here -->
                                    </mat-tab>
                                </mat-tab-group>
                                <!-- Risk Factors Ends Here -->

                            </mat-tab>
                        </mat-tab-group>
                        <!-- Risk Components Ends Here -->

                    </mat-tab>

                    <!-- Rating Modifiers Starts here -->
                    <mat-tab *ngIf="riskModelTemplate['riskRatingModifiers'] != undefined" [disabled]="!riskModelTemplate.applyRatingModifiers">
                        <ng-template mat-tab-label>
                            <mat-icon class="pr-32" *ngIf="riskRatingModifierAttributeSelected === true && riskModelTemplate.applyRatingModifiers === true">check_circle</mat-icon>
                            <div>Rating Modifiers</div>
                        </ng-template>

                        <mat-card *ngFor="let riskRatingModifier of riskModelTemplate.riskRatingModifiers">
                            <!--mat-card-header>
                                <mat-card-subtitle>
                                    {{ riskRatingModifier.description }}
                                </mat-card-subtitle>
                            </mat-card-header-->
                            <table cellpadding="0" cellspacing="0" width="100%" FxFlex="100">
                                <tr class="accent-100 row-header">
                                    <th class="column-header mainHeader" colspan="2">
                                        {{ riskRatingModifier.description }}
                                    </th>
                                </tr>
                                <tr class="row-header" *ngFor="let riskRatingModifierAttribute of riskRatingModifier.riskRatingModifierAttributes">
                                    <!-- <td class="column-data tableRow">{{ riskRatingModifierAttribute.itemNo }}</td> -->
                                    <td class="column-data tableRow">{{ riskRatingModifierAttribute.description }}</td>
                                    <td class="column-data tableRow">
                                        <mat-slide-toggle [checked]="riskRatingModifierAttribute.yesOrNoIndicator == 'Y'"
                                            (change)="ratingModifierSelectionChanged($event, riskRatingModifierAttribute)"></mat-slide-toggle>
                                    </td>
                                </tr>
                            </table>
                        </mat-card>
                    </mat-tab>
                    <!-- Rating Modifiers Ends here -->

                    <!-- Parental NotchUps Starts here -->
                    <mat-tab *ngIf="riskModelTemplate['riskParentalNotchUps'] != undefined" [disabled]="!riskModelTemplate.applyParentalNotchup">

                        <ng-template mat-tab-label>
                            <mat-icon class="pr-32" *ngIf="checkParentalNotchUpSelection(riskModelTemplate['riskParentalNotchUps'][0].riskSubFactors)">check_circle</mat-icon>
                            <div>Parental Notchup</div>
                        </ng-template>

                        <mat-card class="fieldItems fieldContainer" style="padding:16px !important; margin-top:5px !important;"> 
                            <!--mat-card-header>
                                <mat-card-title>Parental Notchup Criteria</mat-card-title>
                            </mat-card-header-->

                            <div fxLayout="row" class="condition">
                                <!-- Source of rating of parent firm -->
                                <mat-form-field fxFlex="50">
                                    <mat-select placeholder="{{ riskModelTemplate['riskParentalNotchUps'][0].riskParentalConditions[0].description }}"
                                        [(ngModel)]="riskModelTemplate['riskParentalNotchUps'][0].riskParentalConditions[0].value"
                                        (selectionChange)="fetchObligatorRatingGrades()" required>
                                        <mat-option *ngFor="let ratingSource of ratingSources" [value]="ratingSource.code">{{
                                            ratingSource.value }}</mat-option>
                                    </mat-select>
                                   
                                </mat-form-field>

                                <!-- Nature of rating of parent firm -->
                                <mat-form-field fxFlex="50">
                                    <mat-select placeholder="{{ riskModelTemplate['riskParentalNotchUps'][0].riskParentalConditions[1].description }}"
                                        [(ngModel)]="riskModelTemplate['riskParentalNotchUps'][0].riskParentalConditions[1].natureOfRatingOfParentFirm"
                                        (selectionChange)="fetchObligatorRatingGrades()" required>
                                        <mat-option value="0">Short Term</mat-option>
                                        <mat-option value="1">Long Term</mat-option>
                                    </mat-select>
                                   
                                </mat-form-field>
                            </div>

                            <div fxLayout="row" class="condition">
                                <!-- Obligator rating grade of parent firm -->
                                <mat-form-field fxFlex="50">
                                    <mat-select placeholder="{{ riskModelTemplate['riskParentalNotchUps'][0].riskParentalConditions[2].description }}"
                                        [(ngModel)]="riskModelTemplate['riskParentalNotchUps'][0].riskParentalConditions[2].value"
                                        (selectionChange)="fetchCreditRatingGrade()" required>
                                        <mat-option *ngFor="let creditRating of creditRatings" [value]="creditRating.creditRating">{{
                                            creditRating.creditRating }}</mat-option>
                                    </mat-select>
                                   
                                </mat-form-field>

                                <!-- Borrower rating grade of the parent firm -->
                                <mat-form-field fxFlex="50">
                                    <input matInput placeholder="{{ riskModelTemplate['riskParentalNotchUps'][0].riskParentalConditions[3].description }}"
                                        [(ngModel)]="riskModelTemplate['riskParentalNotchUps'][0].riskParentalConditions[3].value"
                                        required>
                                     <mat-icon matSuffix class="mr-8">edit</mat-icon>
                                </mat-form-field>
                            </div>

                            <div fxLayout="row" class="condition">
                                <mat-form-field fxFlex="50">
                                    <mat-select fxFlex="100" placeholder="{{ riskModelTemplate['riskParentalNotchUps'][0].riskParentalConditions[4].description }}"
                                        [(ngModel)]="riskModelTemplate['riskParentalNotchUps'][0].riskParentalConditions[4].yesNoIndicatorValue"
                                        required>
                                        <mat-option value="Y">Yes</mat-option>
                                        <mat-option value="N">No</mat-option>
                                    </mat-select>
                                    
                                </mat-form-field>

                                <mat-form-field fxFlex="50">
                                    <mat-select fxFlex="100" placeholder="{{ riskModelTemplate['riskParentalNotchUps'][0].riskParentalConditions[5].description }}"
                                        [(ngModel)]="riskModelTemplate['riskParentalNotchUps'][0].riskParentalConditions[5].yesNoIndicatorValue"
                                        required>
                                        <mat-option value="Y">Yes</mat-option>
                                        <mat-option value="N">No</mat-option>
                                    </mat-select>
                                    
                                </mat-form-field>
                            </div>

                            <!-- The entire div below to be deleted or commented -->
                            <!-- <div fxLayout="row" class="condition" *ngFor="let parentalCondition of riskModelTemplate['riskParentalNotchUps'][0].riskParentalConditions">
                                <mat-form-field fxFlex>
                                    <input *ngIf="parentalCondition.category === 0" matInput placeholder="{{parentalCondition.description}}"
                                        [(ngModel)]="parentalCondition.value" required>
                                    <input *ngIf="parentalCondition.category === 1" matInput placeholder="{{parentalCondition.description}}"
                                        [(ngModel)]="parentalCondition.value" required>
                                    <mat-select fxFlex="100" *ngIf="parentalCondition.category === 2" placeholder="{{parentalCondition.description}}"
                                        [(ngModel)]="parentalCondition.natureOfRatingOfParentFirm" required>
                                        <mat-option value="0">Short Term</mat-option>
                                        <mat-option value="1">Long Term</mat-option>
                                    </mat-select>
                                    <mat-select fxFlex="100" *ngIf="parentalCondition.category === 3" placeholder="{{parentalCondition.description}}"
                                        [(ngModel)]="parentalCondition.yesNoIndicatorValue" required>
                                        <mat-option value="Y">Yes</mat-option>
                                        <mat-option value="N">No</mat-option>
                                    </mat-select>
                                    <mat-select fxFlex="100" *ngIf="parentalCondition.category === 4" placeholder="{{parentalCondition.description}}"
                                        [(ngModel)]="parentalCondition.yesNoIndicatorValue" required>
                                        <mat-option value="Y">Yes</mat-option>
                                        <mat-option value="N">No</mat-option>
                                    </mat-select>
                                    <mat-icon matSuffix class="mr-8">edit</mat-icon>
                                </mat-form-field>
                            </div> -->
                        </mat-card>

                        <mat-card *ngFor="let riskSubFactor of riskModelTemplate['riskParentalNotchUps'][0].riskSubFactors">
                            <!--mat-card-header>
                                <mat-card-subtitle>
                                     {{ riskSubFactor.description }}
                                </mat-card-subtitle>
                            </mat-card-header-->
                            <mat-radio-group class="example-radio-group" FxFlex="100">
                                <table cellpadding="0" cellspacing="0" width="100%">
                                    <tr class="accent-100 row-header ">
                                        <th class="column-header mainHeader" colspan="3">{{ riskSubFactor.description
                                            }}</th>

                                    </tr>
                                    <tr class="accent-100 row-header">
                                        <th class="column-header" width="10%">Select</th>
                                        <th class="column-header">Parameter Selection</th>
                                        <th class="column-header" *ngIf="_appService.userDetails.riskDepartment === '02'">Score</th>
                                    </tr>
                                    <tr *ngFor="let riskSubFactorAttribute of riskSubFactor.riskSubFactorAttributes">
                                        <td class="column-data tableRow">
                                            <mat-radio-button class="example-radio-button" [value]="riskSubFactorAttribute.itemNo"
                                                [checked]="riskSubFactorAttribute.isSelected" (change)="parentalNotchUpRiskSubFactorSelectionChanged($event, riskSubFactor.riskSubFactorAttributes)">
                                            </mat-radio-button>
                                        </td>
                                        <td class="column-data tableRow">{{ riskSubFactorAttribute.description }}</td>
                                        <td class="column-data tableRow" *ngIf="riskSubFactorAttribute.isSelected && _appService.userDetails.riskDepartment === '02'">
                                            <span>{{ riskSubFactorAttribute.score }}</span>
                                        </td>
                                    </tr>
                                </table>
                            </mat-radio-group>
                        </mat-card>
                    </mat-tab>
                    <!-- Parental NotchUps Ends here -->
                </mat-tab-group>
                <!-- Risk Types End Here-->
            </mat-card>
        </mat-tab>
    </mat-tab-group>
</div>