<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="toolTop m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">Change Password</span>
            <button mat-button class="mat-icon-button" (click)="_dialogRef.close({})">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
</div>

<div mat-dialog-content class="p-24 m-0 dialogStyle" fusePerfectScrollbar>
    <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
        <div fxLayout="row">
            <!-- <mat-icon class="mr-12 mt-12">important_devices</mat-icon> -->
            <mat-form-field fxFlex="100">
                <input type="password" matInput placeholder="New password" style="color:green;" class="inputMat" required
                    formControlName="newPassword">
            </mat-form-field>
        </div>
        <div fxLayout="row">
            <mat-form-field fxFlex>
                <input type="password" matInput placeholder="Confirm password" style="color:green;" class="inputMat" required
                    formControlName="confirmPassword">
            </mat-form-field>
        </div>
        <div>
            <button mat-raised-button type="submit" class="mr-8 mb-8 mat-raised-button"
                [disabled]="!(changePasswordForm.valid && changePasswordForm.value.newPassword === changePasswordForm.value.confirmPassword)">
                <mat-icon matSuffix class="mr-8">play_arrow</mat-icon>Change Password
            </button>
        </div>
    </form>
</div>