<div class="page-layout simple right-sidebar inner-sidebar inner-scroll">
    <!-- HEADER -->
    <div class="header accent below-fixed h-100" fxLayout="column" fxLayoutAlign="start">
        <div fxLayout="row" fxLayoutAlign="start" class="pl-16 pt-8" style="font-size: 25px;">
            <span>{{ riskModelTemplate.projectName }} <br> {{riskModelTemplate.riskProjectTypeDescription }}/ {{ riskModelTemplate.projectRiskLevelDescription }}</span>
        </div>
        <div fxLayout="row" fxLayoutAlign="end" class="pr-16">
            <button mat-raised-button class="mr-8 mb-8" (click)="sendTemplateForApproval()" [disabled]="!(riskModelTemplate.workflowStatusCode === '01' && validateTemplate())">
                Send for Approval
            </button>
            <button mat-raised-button class="mr-8 mb-8" (click)="evaluateTemplate()" [disabled]="!validateTemplate()">
                Evaluate
            </button>
            <button mat-raised-button class="mr-8 mb-8" (click)="displayAsPDF()" [disabled]="!riskModelTemplate.id">
                Display as PDF
            </button>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- Content -->
    <div class="content p-16">
        <div class="center">
            <app-risk-model-template [riskModelTemplate]="riskModelTemplate"></app-risk-model-template>
        </div>
    </div>
    <!-- /Content -->
</div>