<mat-spinner class="example-margin" [color]="'primary-50'" *ngIf="displaySpinner" [diameter]="70">
</mat-spinner>

<div class="mat-table-container">

    <!-- <mat-table class="enquiries-table" #table [dataSource]="dataSource" *fuseIfOnDom [@animateStagger]="{value:'50'}" fusePerfectScrollbar> -->
    <mat-table class="enquiries-table" [dataSource]="dataSource" matSort fusePerfectScrollbar>

        <!-- functionalStatus Column -->
        <ng-container matColumnDef="functionalStatusDescription">
            <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="10">Status</mat-header-cell>
            <mat-cell *matCellDef="let enquiry" fxFlex="10">
                <span class="text-truncate">{{ enquiry.functionalStatusDescription }}</span>
            </mat-cell>
        </ng-container>

        <!--&lt;!&ndash; createdOn Column &ndash;&gt;-->
        <!--<ng-container matColumnDef="createdOn">-->
            <!--<mat-header-cell *matHeaderCellDef mat-sort-header class="hidden">Enquiry Date</mat-header-cell>-->
            <!--<mat-cell *matCellDef="let enquiry" class="hidden">-->
                <!--<span class="text-truncate">{{ enquiry.createdOn | date: 'dd/MM/yyyy' }}</span>-->
            <!--</mat-cell>-->
        <!--</ng-container>-->

        <!--&lt;!&ndash; enquiryNo Column &ndash;&gt;-->
        <!--<ng-container matColumnDef="enquiryNumber">-->
            <!--<mat-header-cell *matHeaderCellDef mat-sort-header class="hidden">Enquiry No.</mat-header-cell>-->
            <!--<mat-cell *matCellDef="let enquiry" class="hidden">-->
                <!--<span class="text-truncate">{{ enquiry.enquiryNumber }}</span>-->
            <!--</mat-cell>-->
        <!--</ng-container>-->

        <!-- enquiryNo Column -->
        <ng-container matColumnDef="enquiryNumber">
            <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="6">Enq. No.</mat-header-cell>
            <mat-cell *matCellDef="let enquiry" fxFlex="6">
                <span class="text-truncate">{{ enquiry.enquiryNumber }}</span>
            </mat-cell>
        </ng-container>


        <!-- loanContractId Column -->
        <ng-container matColumnDef="loanContractId">
            <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="10">Loan Contract</mat-header-cell>
            <mat-cell *matCellDef="let enquiry" fxFlex="10">
                <span class="text-truncate">{{ enquiry.loanContractId }}</span>
            </mat-cell>
        </ng-container>

        <!--&lt;!&ndash; busPartnerNumber Column &ndash;&gt;-->
        <!--<ng-container matColumnDef="busPartnerNumber">-->
            <!--<mat-header-cell *matHeaderCellDef mat-sort-header class="hidden">BP Code</mat-header-cell>-->
            <!--<mat-cell *matCellDef="let enquiry" class="hidden">-->
                <!--<span class="text-truncate">{{ enquiry.busPartnerNumber }}</span>-->
            <!--</mat-cell>-->
        <!--</ng-container>-->

        <!-- Project Officer Column -->
        <ng-container matColumnDef="projectDepartmentInitiator">
            <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="15">Project Officer</mat-header-cell>
            <mat-cell *matCellDef="let enquiry" fxFlex="15">
                <span class="text-truncate">{{ enquiry.projectDepartmentInitiator }}</span>
            </mat-cell>
        </ng-container>

        <!-- Monitoring Officer Column -->
        <ng-container matColumnDef="monitoringDepartmentInitiator">
            <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="15">Monitoring Officer</mat-header-cell>
            <mat-cell *matCellDef="let enquiry" fxFlex="15">
                <span class="text-truncate">{{ enquiry.monitoringDepartmentInitiator }}</span>
            </mat-cell>
        </ng-container>

        <!--Risk Officer Column -->
        <ng-container matColumnDef="riskDepartmentInitiator">
            <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="15">Risk Officer</mat-header-cell>
            <mat-cell *matCellDef="let enquiry" fxFlex="15">
                <span class="text-truncate">{{ enquiry.riskDepartmentInitiator }}</span>
            </mat-cell>
        </ng-container>


        <!-- projectName Column -->
        <ng-container matColumnDef="projectName">
            <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="15">Project Name</mat-header-cell>
            <mat-cell *matCellDef="let enquiry" fxFlex="15">
                <span class="text-truncate">{{ enquiry.projectName }}</span>
            </mat-cell>
        </ng-container>

        <!-- projectLocationState Column -->
        <ng-container matColumnDef="projectLocationState">
            <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="12">Project Location</mat-header-cell>
            <mat-cell *matCellDef="let enquiry" fxFlex="12">
                <span class="text-truncate">{{ enquiry.projectLocationState }}</span>
            </mat-cell>
        </ng-container>

        <!--&lt;!&ndash; projectType Column &ndash;&gt;-->
        <!--<ng-container matColumnDef="projectTypeDescription">-->
            <!--<mat-header-cell *matHeaderCellDef mat-sort-header class="hidden">Project Type</mat-header-cell>-->
            <!--<mat-cell *matCellDef="let enquiry"  class="hidden">-->
                <!--<span class="text-truncate">{{ enquiry.projectTypeDescription }}</span>-->
            <!--</mat-cell>-->
        <!--</ng-container>-->

        <!--&lt;!&ndash; loanClass Column &ndash;&gt;-->
        <!--<ng-container matColumnDef="loanClassDescription">-->
            <!--<mat-header-cell *matHeaderCellDef mat-sort-header class="hidden">Loan Class</mat-header-cell>-->
            <!--<mat-cell *matCellDef="let enquiry" class="hidden">-->
                <!--<span class="text-truncate">{{ enquiry.loanClassDescription }}</span>-->
            <!--</mat-cell>-->
        <!--</ng-container>-->

        <!-- projectCapacity Column -->
        <ng-container matColumnDef="projectCapacity">
            <mat-header-cell *matHeaderCellDef mat-sort-header  fxFlex="8">Project Capacity(MW)</mat-header-cell>
            <mat-cell *matCellDef="let enquiry" fxFlex="8"  >
                <span class="text-truncate">{{ enquiry.projectCapacity }}</span>
            </mat-cell>
        </ng-container>

        <!--&lt;!&ndash; assistanceType Column &ndash;&gt;-->
        <!--<ng-container matColumnDef="assistanceTypeDescription">-->
            <!--<mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="12" class="hidden">Assistance Type</mat-header-cell>-->
            <!--<mat-cell *matCellDef="let enquiry" fxFlex="12" class="hidden">-->
                <!--<span class="text-truncate">{{ enquiry.assistanceTypeDescription }}</span>-->
            <!--</mat-cell>-->
        <!--</ng-container>-->

        <!--&lt;!&ndash; projectCost Column &ndash;&gt;-->
        <!--<ng-container matColumnDef="projectCost">-->
            <!--<mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="12"  class="hidden">Project Cost(Cr)</mat-header-cell>-->
            <!--<mat-cell *matCellDef="let enquiry" fxFlex="12">-->
                <!--<span class="text-truncate">{{ enquiry.projectCost }}</span>-->
            <!--</mat-cell>-->
        <!--</ng-container>-->

        <!-- Contract Capital Column -->
        <ng-container matColumnDef="loanContractAmount">
            <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="15">Contract Capital(Cr)</mat-header-cell>
            <mat-cell *matCellDef="let enquiry" fxFlex="15">
                <span class="text-truncate">{{ enquiry.loanContractAmount }}</span>
            </mat-cell>
        </ng-container>

        <!-- Loan Application Amount Column -->
        <ng-container matColumnDef="loanAmount">
            <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="15">Loan Appl.Amt(Cr)</mat-header-cell>
            <mat-cell *matCellDef="let enquiry" fxFlex="15">
                <span class="text-truncate">{{ enquiry.loanAmount }}</span>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

        <mat-row *matRowDef="let enquiry; columns: displayedColumns;" class="enquiry" matRipple (click)="onSelect(enquiry)"
            [ngClass]="{'light-orange-50':enquiry === selectedEnquiry}" [@animate]="{value:'*',params:{y:'100%'}}">
        </mat-row>
    </mat-table>

    <mat-paginator [pageSizeOptions]="pageSizeOptions" showFirstLastButtons></mat-paginator>
</div>
