<div class="mat-table-container" style="width: 160%">

    <!-- <mat-table class="enquiries-table" #table [dataSource]="dataSource" *fuseIfOnDom [@animateStagger]="{value:'50'}" fusePerfectScrollbar> -->
    <mat-table class="enquiries-table" [dataSource]="dataSource" matSort fusePerfectScrollbar>

        <!-- functionalStatus Column -->
        <ng-container matColumnDef="functionalStatusDescription">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Functional Status</mat-header-cell>
            <mat-cell *matCellDef="let enquiry">
                <p class="text-truncate">{{ enquiry.functionalStatusDescription }}</p>
            </mat-cell>
        </ng-container>

        <!-- createdOn Column -->
        <ng-container matColumnDef="createdOn">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Enquiry Date</mat-header-cell>
            <mat-cell *matCellDef="let enquiry">
                <p class="text-truncate">{{ enquiry.createdOn | date: 'dd/MM/yyyy' }}</p>
            </mat-cell>
        </ng-container>

        <!-- enquiryNo Column -->
        <ng-container matColumnDef="enquiryNumber">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Enquiry No.</mat-header-cell>
            <mat-cell *matCellDef="let enquiry">
                <p class="text-truncate">{{ enquiry.enquiryNumber }}</p>
            </mat-cell>
        </ng-container>

        <!-- loanContractId Column -->
        <ng-container matColumnDef="loanContractId">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Loan Contract</mat-header-cell>
            <mat-cell *matCellDef="let enquiry">
                <p class="text-truncate">{{ enquiry.loanContractId }}</p>
            </mat-cell>
        </ng-container>

        <!-- busPartnerNumber Column -->
        <ng-container matColumnDef="busPartnerNumber">
            <mat-header-cell *matHeaderCellDef mat-sort-header>BP Code</mat-header-cell>
            <mat-cell *matCellDef="let enquiry">
                <p class="text-truncate">{{ enquiry.busPartnerNumber }}</p>
            </mat-cell>
        </ng-container>

        <!-- projectName Column -->
        <ng-container matColumnDef="projectName">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Project Name</mat-header-cell>
            <mat-cell *matCellDef="let enquiry">
                <p class="text-truncate">{{ enquiry.projectName }}</p>
            </mat-cell>
        </ng-container>

        <!-- projectLocationState Column -->
        <ng-container matColumnDef="projectLocationState">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Project Location</mat-header-cell>
            <mat-cell *matCellDef="let enquiry">
                <p class="text-truncate">{{ enquiry.projectLocationState }}</p>
            </mat-cell>
        </ng-container>

        <!-- projectType Column -->
        <ng-container matColumnDef="projectTypeDescription">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Project Type</mat-header-cell>
            <mat-cell *matCellDef="let enquiry">
                <p class="text-truncate">{{ enquiry.projectTypeDescription }}</p>
            </mat-cell>
        </ng-container>

        <!-- loanClass Column -->
        <ng-container matColumnDef="loanClassDescription">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Loan Class</mat-header-cell>
            <mat-cell *matCellDef="let enquiry">
                <p class="text-truncate">{{ enquiry.loanClassDescription }}</p>
            </mat-cell>
        </ng-container>

        <!-- projectCapacity Column -->
        <ng-container matColumnDef="projectCapacity">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Project Capacity</mat-header-cell>
            <mat-cell *matCellDef="let enquiry">
                <p class="text-truncate">{{ enquiry.projectCapacity }}</p>
            </mat-cell>
        </ng-container>

        <!-- assistanceType Column -->
        <ng-container matColumnDef="assistanceTypeDescription">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Assistance Type</mat-header-cell>
            <mat-cell *matCellDef="let enquiry">
                <p class="text-truncate">{{ enquiry.assistanceTypeDescription }}</p>
            </mat-cell>
        </ng-container>

        <!-- projectCost Column -->
        <ng-container matColumnDef="projectCost">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Project Cost (Rs Cr)</mat-header-cell>
            <mat-cell *matCellDef="let enquiry">
                <p class="text-truncate">{{ enquiry.projectCost }}</p>
            </mat-cell>
        </ng-container>

        <!-- projectCost Column -->
        <ng-container matColumnDef="loanAmount">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Loan Amount Requested (Rs Cr)</mat-header-cell>
            <mat-cell *matCellDef="let enquiry">
                <p class="text-truncate">{{ enquiry.loanAmount }}</p>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

        <mat-row *matRowDef="let enquiry; columns: displayedColumns;" class="enquiry" matRipple (click)="onSelect(enquiry)"
            [ngClass]="{'mat-light-blue-50-bg':enquiry == selectedEnquiry}" [@animate]="{value:'*',params:{y:'100%'}}">
        </mat-row>

    </mat-table>

    <!--mat-paginator [pageSizeOptions]="[5, 10, 20, 50, 100]"></mat-paginator-->
</div>