<div class="page-layout simple right-sidebar inner-sidebar inner-scroll">


    <!-- HEADER -->
    <div class="accent below-fixed" fxLayout="column" fxLayoutAlign="start" style="min-height: 150px;">

        <div class="paddingTopLeft16" style="min-height: 61px; padding-bottom:16px;border-bottom:1px solid #e0e0e0;">
            <div fxLayout="row" fxFlex="50" class="headerMain" style="font-size:25px;" fxLayoutAlign="start center">
                Change Documents
            </div>
            <!-- <div fxLayout="row" fxFlex="50" fxLayoutAlign="end center">
                <button mat-raised-button class="mr-8" style="padding-bottom:5px;" (click)="fetchEvaluations()">
                    <mat-icon matSuffix class="mr-8">list</mat-icon> Fetch Evaluations
                </button>
            </div> -->

        </div>

        <!-- SEARCH PANEL -->
        <div id="loan-enquiry" class="w-100-p paddingTopLeft16" style="min-height:85px;" fxLayout="column"
            fusePerfectScrollbar>

            <mat-expansion-panel [expanded]="true" hideToggle="false">
                <form [formGroup]="changeDocumentsForm">
                    <div fxLayout="row" fxLayoutAlign="start center">

                        <mat-form-field fxFlex="50" appearance="standard" floatLabel="always">
                            <mat-label>Loan number</mat-label>
                            <input matInput placeholder="Loan Number" style="color:green;" class="inputMat"
                                formControlName="loanNumber">
                            <mat-icon matSuffix class="mr-8">edit</mat-icon>
                        </mat-form-field>

                        <mat-form-field fxFlex="50" appearance="standard" floatLabel="always">
                            <mat-label>Risk Model Id</mat-label>
                            <input matInput placeholder="Risk Model Id" style="color:green;" class="inputMat"
                                formControlName="riskModelId">
                            <mat-icon matSuffix class="mr-8">edit</mat-icon>
                        </mat-form-field>

                        <mat-form-field>
                            <input matInput [matDatepicker]="dateFrom" placeholder="Date From" formControlName="dateFrom"
                                [disabled]="(!changeDocumentsForm.value.riskModelId && !changeDocumentsForm.value.loanNumber)">
                            <mat-datepicker-toggle matSuffix [for]="dateFrom"></mat-datepicker-toggle>
                            <mat-datepicker #dateFrom></mat-datepicker>
                        </mat-form-field>

                        <mat-form-field>
                            <input matInput [matDatepicker]="dateTo" placeholder="Date To" formControlName="dateTo"
                                [disabled]="(!changeDocumentsForm.value.riskModelId && !changeDocumentsForm.value.loanNumber)">
                            <mat-datepicker-toggle matSuffix [for]="dateTo"></mat-datepicker-toggle>
                            <mat-datepicker #dateTo></mat-datepicker>
                        </mat-form-field>

                        <div fxLayout="row" fxLayoutAlign="end end" style="width:250px;">
                            <button class="mr-8" mat-raised-button type="button" color="primary" (click)="searchChangeDocuments()">
                                <mat-icon matSuffix class="mr-8">search</mat-icon> Search
                            </button>
                            <!-- <button class="mr-8" mat-raised-button type="button" color="primary" (click)="searchEnquiriesTest()">
                                <mat-icon matSuffix class="mr-8">search</mat-icon> Search Test
                            </button> -->
                        </div>
                    </div>
                </form>
            </mat-expansion-panel>
        </div>

        <!-- / SEARCH PANEL -->

    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content p-16">
        <div class="center">
            <app-change-document-list [changeDocuments]="changeDocuments" [page]="page" [formValues]="changeDocumentsForm.value"></app-change-document-list>
        </div>
    </div>
    <!-- / CONTENT -->
</div>