<div class="page-layout simple right-sidebar inner-sidebar inner-scroll">
    <!-- HEADER -->
    <div class="header accent below-fixed h-100" fxLayout="column" fxLayoutAlign="start">
        <div fxLayout="row" fxLayoutAlign="start" class="pl-16 pt-8" style="font-size: 25px;">
            Search Projects
        </div>
        <div fxLayout="row" fxLayoutAlign="end" class="pr-16">
            <button mat-raised-button class="mr-8 mb-8" (click)="fetchEvaluations()">
                Fetch Evaluations
            </button>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- SEARCH PANEL -->
    <div id="loan-enquiry" class="w-100-p p-16" fxLayout="column" fusePerfectScrollbar>
        <mat-expansion-panel [expanded]="true" hideToggle="false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Project List
                </mat-panel-title>
                <!--mat-panel-description>
                    Use the search form to filter data.
                </mat-panel-description-->
            </mat-expansion-panel-header>
            <form [formGroup]="enquirySearchForm">
                <div fxLayout="row">
                    <mat-form-field fxFlex="33">
                        <input matInput placeholder="Name of the Project" formControlName="projectName">
                    </mat-form-field>
                    <mat-form-field fxFlex="34">
                        <input matInput placeholder="Enquiry Number From" formControlName="enquiryNoFrom">
                    </mat-form-field>
                    <mat-form-field fxFlex="33">
                        <input matInput placeholder="Enquiry Number To" formControlName="enquiryNoTo">
                    </mat-form-field>
                </div>
                <!-- <div fxLayout="row">
                    <mat-form-field fxFlex="25">
                        <input matInput placeholder="Project Location (State)" formControlName="projectLocation">
                    </mat-form-field>
                    <mat-form-field fxFlex="25">
                        <input matInput placeholder="Loan Class" formControlName="loanClass">
                    </mat-form-field>
                    <mat-form-field fxFlex="25">
                        <input matInput placeholder="Project Type" formControlName="projectType">
                    </mat-form-field>
                </div>
                <div fxLayout="row">
                    <mat-form-field fxFlex="25">
                        <input matInput placeholder="Financing Type" formControlName="financingType">
                    </mat-form-field>
                    <mat-form-field fxFlex="25">
                        <input matInput placeholder="Type of Assistance" formControlName="assistanceType">
                    </mat-form-field>
                </div> -->
                <div class="pt-12" fxLayout="row" fxLayoutAlign="left center">
                    <button class="mr-8" mat-raised-button type="button" color="accent" (click)="searchEnquiries()">
                        Search
                    </button>
                </div>
            </form>
        </mat-expansion-panel>
    </div>

    <!-- / SEARCH PANEL -->


    <!-- CONTENT -->
    <div class="content p-16">
        <div class="content-card mat-white-bg mat-elevation-z4" fusePerfectScrollbar style="width: 125%'">
            <fuse-enquiry-search-list [enquiryList]="enquiryList"></fuse-enquiry-search-list>
        </div>
    </div>
    <!-- / CONTENT -->
</div>