<div class="page-layout simple right-sidebar inner-sidebar inner-scroll">
    <!-- HEADER -->
    <div class="header accent below-fixed h-100" fxLayout="column" fxLayoutAlign="start">
        <div fxLayout="row" fxLayoutAlign="start" class="pl-16 pt-8" style="font-size: 25px;">
            Inbox
        </div>
        <div fxLayout="row" fxLayoutAlign="end" class="pr-16">
            <button mat-raised-button class="mr-8 mb-8" (click)="approveEvaluation()">
                Approve
            </button>
            <button mat-raised-button class="mr-8 mb-8" (click)="rejectEvaluation()">
                Reject
            </button>
            <button mat-raised-button class="mr-8 mb-8" (click)="reviewEvaluation()">
                Review Model
            </button>
            <button mat-raised-button class="mr-8 mb-8" (click)="displayAsPDF()">
                Display PDF
            </button>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content p-16">
        <div class="center">
            <app-inbox-items></app-inbox-items>
        </div>
    </div>
    <!-- / CONTENT -->
</div>